# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Create tables using Markdown syntax  
- Perform basic arithmetic operations using Python  
- Convert minutes into hours using a Python expression

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. Scala

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

### Data Science Tools

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [31]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [29]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Author

Sylvia Onyejimbe